@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('~assets/fonts/UbuntuMono-Bold.ttf') format('truetype');
}